{"openapi":"3.1.0","info":{"title":"ComfyDeploy API","description":"\n### Overview\n\nWelcome to the ComfyDeploy API!\n\nTo create a run thru the API, use the [queue run endpoint](#tag/run/POST/run/deployment/queue).\n\nCheck out the [get run endpoint](#tag/run/GET/run/{run_id}), for getting the status and output of a run.\n\n### Authentication\n\nTo authenticate your requests, include your API key in the `Authorization` header as a bearer token. Make sure to generate an API key in the [API Keys section of your ComfyDeploy account](https://www.comfydeploy.com/api-keys).\n\n###\n\n","version":"V2"},"servers":[{"url":"https://api.comfydeploy.com/api","description":"Production server"},{"url":"https://staging.api.comfydeploy.com/api","description":"Staging server"},{"url":"http://localhost:3011/api","description":"Local development server"}],"paths":{"/run/{run_id}":{"get":{"tags":["Run"],"summary":"Get Run","operationId":"get_run_run__run_id__get","parameters":[{"name":"run_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Run Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkflowRunModel"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-speakeasy-name-override":"get","x-codeSamples":[{"lang":"typescript","label":"SDK (TypeScript)","source":"import { ComfyDeploy } from \"comfydeploy\";\n\nconst comfyDeploy = new ComfyDeploy({\n  bearer: \"<YOUR_BEARER_TOKEN_HERE>\",\n});\n\nasync function run() {\n  const result = await comfyDeploy.run.get({\n    runId: \"b888f774-3e7c-4135-a18c-6b985523c4bc\",\n  });\n\n  // Handle the result\n  console.log(result);\n}\n\nrun();"},{"lang":"python","label":"SDK (Python)","source":"from comfydeploy import ComfyDeploy\n\n\nwith ComfyDeploy(\n    bearer=\"<YOUR_BEARER_TOKEN_HERE>\",\n) as comfy_deploy:\n\n    res = comfy_deploy.run.get(run_id=\"b888f774-3e7c-4135-a18c-6b985523c4bc\")\n\n    assert res.workflow_run_model is not None\n\n    # Handle response\n    print(res.workflow_run_model)"}]}},"/run/deployment/queue":{"post":{"tags":["Run"],"summary":"Queue Run","description":"Create a new deployment run with the given parameters.","operationId":"queue_deployment_run_run_deployment_queue_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeploymentRunRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateRunResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-speakeasy-group":"run.deployment","x-speakeasy-name-override":"queue","x-codeSamples":[{"lang":"typescript","label":"SDK (TypeScript)","source":"import { ComfyDeploy } from \"comfydeploy\";\n\nconst comfyDeploy = new ComfyDeploy({\n  bearer: \"<YOUR_BEARER_TOKEN_HERE>\",\n});\n\nasync function run() {\n  const result = await comfyDeploy.run.deployment.queue({\n    inputs: {\n      \"prompt\": \"A beautiful landscape\",\n      \"seed\": 42,\n    },\n    webhook: \"https://myapp.com/webhook\",\n    deploymentId: \"15e79589-12c9-453c-a41a-348fdd7de957\",\n  });\n\n  // Handle the result\n  console.log(result);\n}\n\nrun();"},{"lang":"python","label":"SDK (Python)","source":"from comfydeploy import ComfyDeploy\n\n\nwith ComfyDeploy(\n    bearer=\"<YOUR_BEARER_TOKEN_HERE>\",\n) as comfy_deploy:\n\n    res = comfy_deploy.run.deployment.queue(request={\n        \"inputs\": {\n            \"prompt\": \"A beautiful landscape\",\n            \"seed\": 42,\n        },\n        \"webhook\": \"https://myapp.com/webhook\",\n        \"deployment_id\": \"15e79589-12c9-453c-a41a-348fdd7de957\",\n    })\n\n    assert res.create_run_response is not None\n\n    # Handle response\n    print(res.create_run_response)"}]}},"/run/{run_id}/cancel":{"post":{"tags":["Run"],"summary":"Cancel Run","operationId":"cancel_run_run__run_id__cancel_post","parameters":[{"name":"run_id","in":"path","required":true,"schema":{"type":"string","title":"Run Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-speakeasy-name-override":"cancel","x-codeSamples":[{"lang":"typescript","label":"SDK (TypeScript)","source":"import { ComfyDeploy } from \"comfydeploy\";\n\nconst comfyDeploy = new ComfyDeploy({\n  bearer: \"<YOUR_BEARER_TOKEN_HERE>\",\n});\n\nasync function run() {\n  const result = await comfyDeploy.run.cancel({\n    runId: \"<id>\",\n  });\n\n  // Handle the result\n  console.log(result);\n}\n\nrun();"},{"lang":"python","label":"SDK (Python)","source":"from comfydeploy import ComfyDeploy\n\n\nwith ComfyDeploy(\n    bearer=\"<YOUR_BEARER_TOKEN_HERE>\",\n) as comfy_deploy:\n\n    res = comfy_deploy.run.cancel(run_id=\"<id>\")\n\n    assert res.any is not None\n\n    # Handle response\n    print(res.any)"}]}}},"webhooks":{"{$request.body#/webhook}":{"post":{"tags":["Callbacks"],"summary":"Run Update Webhook","description":"This endpoint is called by the workflow runner to update the status of a run.","operationId":"run_update__request_body__webhook__post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkflowRunWebhookBody","description":"The updated run information"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkflowRunWebhookResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}}},"components":{"schemas":{"AssetResponse":{"properties":{"id":{"type":"string","title":"Id"},"user_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"User Id"},"org_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Org Id"},"name":{"type":"string","title":"Name"},"is_folder":{"type":"boolean","title":"Is Folder"},"path":{"type":"string","title":"Path"},"file_size":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"File Size"},"url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Url"},"mime_type":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Mime Type"},"created_at":{"type":"string","format":"date-time","title":"Created At"},"updated_at":{"type":"string","format":"date-time","title":"Updated At"},"deleted":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Deleted","default":false}},"type":"object","required":["id","name","is_folder","path","created_at","updated_at"],"title":"AssetResponse"},"Body_upload_asset_file_assets_upload_post":{"properties":{"file":{"type":"string","format":"binary","title":"File"}},"type":"object","required":["file"],"title":"Body_upload_asset_file_assets_upload_post"},"Body_upload_file_file_upload_post":{"properties":{"file":{"type":"string","format":"binary","title":"File"}},"type":"object","required":["file"],"title":"Body_upload_file_file_upload_post"},"CreateFolderRequest":{"properties":{"name":{"type":"string","title":"Name","description":"Folder name"},"parent_path":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Parent Path","description":"Parent folder path","default":"/"}},"type":"object","required":["name"],"title":"CreateFolderRequest"},"CreateRunResponse":{"properties":{"run_id":{"type":"string","format":"uuid","title":"Run Id","description":"The ID of the run, use this to get the run status and outputs"}},"type":"object","required":["run_id"],"title":"CreateRunResponse"},"CreateSessionBody":{"properties":{"machine_id":{"type":"string","title":"Machine Id"},"gpu":{"anyOf":[{"$ref":"#/components/schemas/api__routes__types__MachineGPU__2"},{"type":"null"}],"description":"The GPU to use"},"timeout":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Timeout","description":"The timeout in minutes"},"wait_for_server":{"type":"boolean","title":"Wait For Server","description":"Whether to create the session asynchronously","default":false}},"type":"object","required":["machine_id"],"title":"CreateSessionBody"},"CreateSessionResponse":{"properties":{"session_id":{"type":"string","format":"uuid","title":"Session Id"},"url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Url"}},"type":"object","required":["session_id"],"title":"CreateSessionResponse"},"DeleteSessionResponse":{"properties":{"success":{"type":"boolean","title":"Success"}},"type":"object","required":["success"],"title":"DeleteSessionResponse"},"DeploymentCreate":{"properties":{"workflow_version_id":{"type":"string","title":"Workflow Version Id"},"workflow_id":{"type":"string","title":"Workflow Id"},"machine_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Machine Id"},"machine_version_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Machine Version Id"},"environment":{"type":"string","title":"Environment"},"description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Description"}},"type":"object","required":["workflow_version_id","workflow_id","environment"],"title":"DeploymentCreate"},"DeploymentEnvironment":{"type":"string","enum":["staging","production","public-share","private-share","preview"],"title":"DeploymentEnvironment"},"DeploymentFeaturedModel":{"properties":{"workflow":{"additionalProperties":{"anyOf":[{},{"type":"null"}]},"type":"object","title":"Workflow"},"description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Description"},"share_slug":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Share Slug"}},"type":"object","required":["workflow"],"title":"DeploymentFeaturedModel"},"DeploymentModel":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"user_id":{"type":"string","title":"User Id"},"org_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Org Id"},"workflow_version_id":{"type":"string","format":"uuid","title":"Workflow Version Id"},"workflow_id":{"type":"string","format":"uuid","title":"Workflow Id"},"machine_id":{"type":"string","format":"uuid","title":"Machine Id"},"share_slug":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Share Slug"},"description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Description"},"share_options":{"anyOf":[{"type":"object"},{"type":"null"}],"title":"Share Options"},"showcase_media":{"anyOf":[{"items":{"type":"object"},"type":"array"},{"type":"null"}],"title":"Showcase Media"},"environment":{"$ref":"#/components/schemas/DeploymentEnvironment"},"created_at":{"type":"string","format":"date-time","title":"Created At"},"updated_at":{"type":"string","format":"date-time","title":"Updated At"},"workflow":{"anyOf":[{"$ref":"#/components/schemas/WorkflowWithName"},{"type":"null"}]},"version":{"anyOf":[{"type":"object"},{"type":"null"}],"title":"Version"},"machine":{"anyOf":[{"$ref":"#/components/schemas/MachineWithName"},{"type":"null"}]},"input_types":{"anyOf":[{"items":{"$ref":"#/components/schemas/InputModel"},"type":"array"},{"type":"null"}],"title":"Input Types"},"output_types":{"anyOf":[{"items":{"$ref":"#/components/schemas/OutputModel"},"type":"array"},{"type":"null"}],"title":"Output Types"},"dub_link":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Dub Link"},"gpu":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Gpu"},"machine_version_id":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Machine Version Id"},"modal_image_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Modal Image Id"},"concurrency_limit":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Concurrency Limit"},"run_timeout":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Run Timeout"},"idle_timeout":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Idle Timeout"},"keep_warm":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Keep Warm"},"activated_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Activated At"},"modal_app_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Modal App Id"}},"type":"object","required":["id","user_id","org_id","workflow_version_id","workflow_id","machine_id","share_slug","description","share_options","showcase_media","environment","created_at","updated_at"],"title":"DeploymentModel"},"DeploymentRunRequest":{"properties":{"inputs":{"additionalProperties":{"anyOf":[{"type":"string"},{"type":"integer"},{"type":"number"},{"type":"boolean"},{"items":{},"type":"array"}]},"type":"object","title":"Inputs","description":"The inputs to the workflow","default":{},"example":{"prompt":"A beautiful landscape","seed":42}},"webhook":{"type":"string","title":"Webhook"},"webhook_intermediate_status":{"type":"boolean","title":"Webhook Intermediate Status","default":false,"example":true},"gpu":{"type":"string","enum":["T4","L4","A10G","L40S","A100","A100-80GB","H100"],"description":"The GPU to override the machine's default GPU"},"deployment_id":{"type":"string","format":"uuid","title":"Deployment Id","examples":["15e79589-12c9-453c-a41a-348fdd7de957"]}},"type":"object","required":["deployment_id"],"title":"DeploymentRunRequest","examples":[{"deployment_id":"12345678-1234-5678-1234-567812345678","inputs":{"num_inference_steps":30,"prompt":"A futuristic cityscape","seed":123456},"webhook":"https://myapp.com/webhook"}]},"DeploymentShareModel":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"user_id":{"type":"string","title":"User Id"},"org_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Org Id"},"share_slug":{"type":"string","title":"Share Slug"},"description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Description"},"workflow":{"additionalProperties":{"anyOf":[{"type":"string"},{"type":"null"}]},"type":"object","title":"Workflow"},"input_types":{"anyOf":[{"items":{"type":"object"},"type":"array"},{"type":"null"}],"title":"Input Types"},"output_types":{"anyOf":[{"items":{"type":"object"},"type":"array"},{"type":"null"}],"title":"Output Types"}},"type":"object","required":["id","user_id","org_id","share_slug","workflow","input_types","output_types"],"title":"DeploymentShareModel"},"DeploymentUpdate":{"properties":{"workflow_version_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Workflow Version Id"},"machine_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Machine Id"},"machine_version_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Machine Version Id"},"concurrency_limit":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Concurrency Limit"},"gpu":{"anyOf":[{"$ref":"#/components/schemas/GPUType"},{"type":"null"}]},"run_timeout":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Run Timeout"},"idle_timeout":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Idle Timeout"},"keep_warm":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Keep Warm"}},"type":"object","title":"DeploymentUpdate"},"EventUpdate":{"properties":{"event":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Event"},"data":{"anyOf":[{},{"type":"null"}],"title":"Data"}},"type":"object","title":"EventUpdate"},"EventUpdateEvent":{"properties":{"event":{"type":"string","const":"event_update","title":"Event","default":"event_update"},"data":{"$ref":"#/components/schemas/EventUpdate"}},"type":"object","required":["data"],"title":"EventUpdateEvent"},"FileUploadResponse":{"properties":{"message":{"type":"string","title":"Message","description":"A message indicating the result of the file upload"},"file_id":{"type":"string","title":"File Id","description":"The unique identifier for the uploaded file"},"file_name":{"type":"string","title":"File Name","description":"The original name of the uploaded file"},"file_url":{"type":"string","title":"File Url","description":"The URL where the uploaded file can be accessed"}},"type":"object","required":["message","file_id","file_name","file_url"],"title":"FileUploadResponse","example":{"file_id":"img_1a2b3c4d5e6f7g8h","file_name":"example_image.jpg","file_url":"https://your-bucket.s3.your-region.amazonaws.com/inputs/img_1a2b3c4d5e6f7g8h.jpg","message":"File uploaded successfully"}},"GPUType":{"type":"string","enum":["CPU","T4","L4","A10G","L40S","A100","A100-80GB","H100"],"title":"GPUType"},"HTTPValidationError":{"properties":{"detail":{"items":{"$ref":"#/components/schemas/ValidationError"},"type":"array","title":"Detail"}},"type":"object","title":"HTTPValidationError"},"IncreaseTimeoutBody":{"properties":{"machine_id":{"type":"string","title":"Machine Id"},"session_id":{"type":"string","format":"uuid","title":"Session Id"},"timeout":{"type":"integer","title":"Timeout"},"gpu":{"type":"string","title":"Gpu"}},"type":"object","required":["machine_id","session_id","timeout","gpu"],"title":"IncreaseTimeoutBody"},"IncreaseTimeoutBody2":{"properties":{"minutes":{"type":"integer","title":"Minutes"}},"type":"object","required":["minutes"],"title":"IncreaseTimeoutBody2"},"InputModel":{"properties":{"type":{"type":"string","title":"Type"},"class_type":{"type":"string","title":"Class Type"},"input_id":{"type":"string","title":"Input Id"},"default_value":{"anyOf":[{"type":"string"},{"type":"integer"},{"type":"number"},{"type":"boolean"},{"items":{},"type":"array"},{"type":"null"}],"title":"Default Value"},"min_value":{"anyOf":[{"type":"integer"},{"type":"number"},{"type":"null"}],"title":"Min Value"},"max_value":{"anyOf":[{"type":"integer"},{"type":"number"},{"type":"null"}],"title":"Max Value"},"display_name":{"type":"string","title":"Display Name","default":""},"description":{"type":"string","title":"Description","default":""},"enum_options":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Enum Options","description":"Options for enum input type"},"step":{"anyOf":[{"type":"integer"},{"type":"number"},{"type":"null"}],"title":"Step","description":"Step for number slider input types"}},"type":"object","required":["type","class_type","input_id"],"title":"InputModel"},"LogDataContent":{"properties":{"logs":{"type":"string","title":"Logs"},"timestamp":{"type":"string","format":"date-time","title":"Timestamp","description":"Timestamp in UTC"}},"type":"object","required":["logs","timestamp"],"title":"LogDataContent"},"LogUpdateEvent":{"properties":{"event":{"type":"string","const":"log_update","title":"Event","default":"log_update"},"data":{"$ref":"#/components/schemas/LogDataContent"}},"type":"object","required":["data"],"title":"LogUpdateEvent"},"MachineWithName":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"name":{"type":"string","title":"Name"}},"type":"object","required":["id","name"],"title":"MachineWithName"},"MediaItem":{"properties":{"url":{"type":"string","title":"Url"},"type":{"type":"string","title":"Type"},"filename":{"type":"string","title":"Filename"},"is_public":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Is Public"},"subfolder":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Subfolder"},"upload_duration":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Upload Duration"}},"type":"object","required":["url","type","filename"],"title":"MediaItem"},"ModelInput":{"properties":{"input_id":{"type":"string","title":"Input Id"},"class_type":{"anyOf":[{"type":"string"},{"type":"string","enum":["ComfyUIDeployExternalText","ComfyUIDeployExternalTextAny","ComfyUIDeployExternalTextSingleLine","ComfyUIDeployExternalImage","ComfyUIDeployExternalImageAlpha","ComfyUIDeployExternalNumber","ComfyUIDeployExternalNumberInt","ComfyUIDeployExternalLora","ComfyUIDeployExternalCheckpoint","ComfyDeployWebscoketImageInput","ComfyUIDeployExternalImageBatch","ComfyUIDeployExternalVideo","ComfyUIDeployExternalBoolean","ComfyUIDeployExternalNumberSlider","ComfyUIDeployExternalNumberSliderInt","ComfyUIDeployExternalEnum"]}],"title":"Class Type"},"required":{"type":"boolean","title":"Required"},"default_value":{"anyOf":[{},{"type":"null"}],"title":"Default Value"},"min_value":{"anyOf":[{},{"type":"null"}],"title":"Min Value"},"max_value":{"anyOf":[{},{"type":"null"}],"title":"Max Value"},"display_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Display Name"},"description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Description"},"enum_values":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Enum Values"}},"type":"object","required":["input_id","class_type","required"],"title":"ModelInput"},"ModelOutput":{"properties":{"class_type":{"type":"string","enum":["ComfyDeployStdOutputImage","ComfyDeployStdOutputAny"],"title":"Class Type"},"output_id":{"type":"string","title":"Output Id"}},"type":"object","required":["class_type","output_id"],"title":"ModelOutput"},"ModelSearchQuery":{"properties":{"name":{"type":"string","title":"Name"},"type":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Type"},"provider":{"type":"string","title":"Provider"},"filename":{"type":"string","title":"Filename"},"save_path":{"type":"string","title":"Save Path"},"size":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Size"},"download_url":{"type":"string","title":"Download Url"},"reference_url":{"type":"string","title":"Reference Url"}},"type":"object","title":"ModelSearchQuery"},"ModelWithMetadata":{"properties":{"id":{"type":"string","title":"Id"},"name":{"type":"string","title":"Name"},"is_comfyui":{"type":"boolean","title":"Is Comfyui","default":false},"preview_image":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Preview Image"},"inputs":{"items":{"$ref":"#/components/schemas/ModelInput"},"type":"array","title":"Inputs"},"outputs":{"items":{"$ref":"#/components/schemas/ModelOutput"},"type":"array","title":"Outputs"},"tags":{"items":{"type":"string"},"type":"array","title":"Tags","default":[]},"fal_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Fal Id"},"cost_per_megapixel":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Cost Per Megapixel"}},"type":"object","required":["id","name","inputs","outputs"],"title":"ModelWithMetadata"},"OutputModel":{"properties":{"class_type":{"type":"string","title":"Class Type"},"output_id":{"type":"string","title":"Output Id"}},"type":"object","required":["class_type","output_id"],"title":"OutputModel"},"RunStream":{"oneOf":[{"$ref":"#/components/schemas/LogUpdateEvent"},{"$ref":"#/components/schemas/EventUpdateEvent"}],"title":"RunStream","discriminator":{"propertyName":"event","mapping":{"event_update":"#/components/schemas/EventUpdateEvent","log_update":"#/components/schemas/LogUpdateEvent"}}},"SearchModelsResponse":{"properties":{"models":{"items":{"$ref":"#/components/schemas/ModelSearchQuery"},"type":"array","title":"Models"}},"type":"object","required":["models"],"title":"SearchModelsResponse"},"SessionResponse":{"properties":{"id":{"type":"string","title":"Id","description":"The session ID"},"session_id":{"type":"string","title":"Session Id","description":"The session ID","deprecated":true},"gpu_event_id":{"type":"string","title":"Gpu Event Id","description":"The GPU event ID"},"url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Url","description":"The tunnel URL for the session"},"gpu":{"type":"string","title":"Gpu","description":"The GPU type being used"},"created_at":{"type":"string","format":"date-time","title":"Created At","description":"When the session was created"},"timeout":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Timeout","description":"Session timeout in minutes"},"timeout_end":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Timeout End","description":"When the session will timeout"},"machine_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Machine Id","description":"Associated machine ID"},"machine_version_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Machine Version Id","description":"Associated machine version ID"},"status":{"type":"string","title":"Status","description":"Session status","default":"running"},"user_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"User Id","description":"Associated user ID"},"org_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Org Id","description":"Associated organization ID"}},"type":"object","required":["id","session_id","gpu_event_id","gpu","created_at"],"title":"SessionResponse"},"SnapshotSessionBody":{"properties":{"machine_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Machine Name"}},"type":"object","title":"SnapshotSessionBody"},"ValidationError":{"properties":{"loc":{"items":{"anyOf":[{"type":"string"},{"type":"integer"}]},"type":"array","title":"Location"},"msg":{"type":"string","title":"Message"},"type":{"type":"string","title":"Error Type"}},"type":"object","required":["loc","msg","type"],"title":"ValidationError"},"WorkflowRunModel":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"workflow_version_id":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Workflow Version Id"},"workflow_inputs":{"anyOf":[{},{"type":"null"}],"title":"Workflow Inputs"},"workflow_id":{"type":"string","format":"uuid","title":"Workflow Id"},"workflow_api":{"anyOf":[{},{"type":"null"}],"title":"Workflow Api"},"machine_id":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Machine Id"},"origin":{"type":"string","title":"Origin"},"status":{"type":"string","title":"Status"},"ended_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Ended At"},"created_at":{"type":"string","format":"date-time","title":"Created At"},"updated_at":{"type":"string","format":"date-time","title":"Updated At"},"queued_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Queued At"},"started_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Started At"},"gpu_event_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Gpu Event Id"},"gpu":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Gpu"},"machine_version":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Machine Version"},"machine_type":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Machine Type"},"modal_function_call_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Modal Function Call Id"},"user_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"User Id"},"org_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Org Id"},"live_status":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Live Status"},"progress":{"type":"number","title":"Progress","default":0},"is_realtime":{"type":"boolean","title":"Is Realtime","default":false},"webhook":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Webhook"},"webhook_status":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Webhook Status"},"webhook_intermediate_status":{"type":"boolean","title":"Webhook Intermediate Status","default":false},"outputs":{"items":{"$ref":"#/components/schemas/WorkflowRunOutputModel"},"type":"array","title":"Outputs","default":[]},"number":{"type":"integer","title":"Number"},"duration":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Duration"},"cold_start_duration":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Cold Start Duration"},"cold_start_duration_total":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Cold Start Duration Total"},"run_duration":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Run Duration"}},"type":"object","required":["id","workflow_version_id","workflow_inputs","workflow_id","workflow_api","machine_id","origin","status","created_at","updated_at","gpu_event_id","gpu","machine_version","machine_type","modal_function_call_id","user_id","org_id","live_status","webhook","webhook_status","number","duration","cold_start_duration","cold_start_duration_total","run_duration"],"title":"WorkflowRunModel"},"WorkflowRunOutputModel":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"run_id":{"type":"string","format":"uuid","title":"Run Id"},"data":{"additionalProperties":{"items":{"anyOf":[{"$ref":"#/components/schemas/MediaItem"},{"type":"string"},{"type":"boolean"}]},"type":"array"},"type":"object","title":"Data"},"node_meta":{"anyOf":[{},{"type":"null"}],"title":"Node Meta"},"created_at":{"type":"string","format":"date-time","title":"Created At"},"updated_at":{"type":"string","format":"date-time","title":"Updated At"},"type":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Type"},"node_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Node Id"}},"type":"object","required":["id","run_id","data","node_meta","created_at","updated_at"],"title":"WorkflowRunOutputModel"},"WorkflowRunRequest":{"properties":{"inputs":{"additionalProperties":{"anyOf":[{"type":"string"},{"type":"integer"},{"type":"number"},{"type":"boolean"},{"items":{},"type":"array"}]},"type":"object","title":"Inputs","description":"The inputs to the workflow","default":{},"example":{"prompt":"A beautiful landscape","seed":42}},"webhook":{"type":"string","title":"Webhook"},"webhook_intermediate_status":{"type":"boolean","title":"Webhook Intermediate Status","default":false,"example":true},"gpu":{"type":"string","enum":["T4","L4","A10G","L40S","A100","A100-80GB","H100"],"description":"The GPU to override the machine's default GPU"},"workflow_id":{"type":"string","format":"uuid","title":"Workflow Id"},"workflow_api_json":{"type":"object","title":"Workflow Api Json"},"workflow":{"type":"object","title":"Workflow"},"machine_id":{"type":"string","title":"Machine Id"}},"type":"object","required":["workflow_id","workflow_api_json"],"title":"WorkflowRunRequest","examples":[{"inputs":{"num_inference_steps":30,"prompt":"A futuristic cityscape","seed":123456},"webhook":"https://myapp.com/webhook","workflow_api":{},"workflow_id":"12345678-1234-5678-1234-567812345678"}]},"WorkflowRunStatus":{"type":"string","enum":["not-started","running","uploading","success","failed","started","queued","timeout","cancelled"],"title":"WorkflowRunStatus"},"WorkflowRunWebhookBody":{"properties":{"run_id":{"type":"string","title":"Run Id"},"status":{"$ref":"#/components/schemas/WorkflowRunStatus"},"live_status":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Live Status"},"progress":{"type":"number","title":"Progress","default":0},"outputs":{"items":{"$ref":"#/components/schemas/WorkflowRunOutputModel"},"type":"array","title":"Outputs","default":[]}},"type":"object","required":["run_id","status","live_status"],"title":"WorkflowRunWebhookBody"},"WorkflowRunWebhookResponse":{"properties":{"status":{"type":"string","title":"Status"}},"type":"object","required":["status"],"title":"WorkflowRunWebhookResponse"},"WorkflowWithName":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"name":{"type":"string","title":"Name"}},"type":"object","required":["id","name"],"title":"WorkflowWithName"},"api__routes__types__MachineGPU__1":{"type":"string","enum":["T4","L4","A10G","L40S","A100","A100-80GB","H100"],"title":"MachineGPU"},"api__routes__types__MachineGPU__2":{"type":"string","enum":["CPU","T4","L4","A10G","L40S","A100","A100-80GB","H100"],"title":"MachineGPU"}},"securitySchemes":{"Bearer":{"type":"http","scheme":"bearer"}}},"security":[{"Bearer":[]}]}